img {
    width: 100%;
}

.linked-recipe {
    text-decoration: none;
    color: #FFFFFF;
}

.RecipeItem {
    width: 38%;
    margin: 5%;
    background-color: #5A1807;
    border-radius: 5px;
    padding: 3% 1%;
}

.favorite-icon {
    color: red;
    position: absolute;
    margin-left: 10%;
}

.author {
    font-weight: bold;
}

@media all and (min-width: 800px) {
    .RecipeItem {
        width: 21%;
        margin: 1%;
    }

    .favorite-icon {
        margin-left: 5%;
        font-size: 30px
    }
}