img {
    width: 100%;
}

.linked-recipe {
    text-decoration: none;
    color: white;
}

.RecipeItem {
    width: 38%;
    margin: 5%;
    background-color: orange;
    border-radius: 5px;
    padding: 3% 1%;
}

.favorite-icon {
    color: red;
    position: absolute;
    margin-left: 10%;
}