.RecipePage {
    background-color: lightgrey;
    background-size: cover;
    padding: 1rem;
    margin: 0;
}

.recipe-details {
    background-color: white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 1rem;
    border-radius: 1rem;
}

img {
    width: 50%;
}

.notExist {
    position: fixed;
    top: 50%;
    left:25%;
    right:25%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

ol {
    text-align: center;
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.description {
    padding: 0;
}

.back-button {
    position: absolute;
    top: 80px;
    left:10%;
    background-color: lightblue;
    border: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
}