.recipe-form {
    background-color: lightgray;
    width: 85%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
    max-width: 600px;
}

.recipe-form h1 {
    color: white;
    background-color: #5A1807;
    padding: .5rem 1rem;
    border-radius: 1rem 1rem 0 0;
    font-size: 2em;
}

.input-fields h2 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1em;
}

#description {
    margin-bottom: 1rem;
}

.item-buttons {
    background-color: lightskyblue;
    border: 0;
    margin-left: 5px;
}

.form-buttons button {
    background-color: lightskyblue;
    border: 0;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    margin-right: 5px;
}

.add-recipe-error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}