.comment-list {
    background-color: white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
}

.noComments {
    font-weight: bold;
}
.comment-item {
    background-color: #DAD2D8;
    border-radius: 1rem;
}

.comment-header {
    text-align: left;
}

.comment-content {
    text-align: left;
    margin-left: 10%;
}

.comment-badge {
    background-color: #5A1807;
    color: #FFFFFF;
    border-radius: 1rem;
    padding: 3px 5px;
    margin: 3px;
    font-weight: bold;
}

.comment-date {
   text-align: right;
}

.comment-form {
    background-color: white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1rem;
    border-radius: 0 0 1rem 1rem;
    padding-bottom: 4em;
}

.comment-form label {
    font-size: 20px;
    font-weight: bold;
}

.comment-form textarea {
    width: 100%;
    min-height: 8em;
    border-radius: 1rem;
    margin-bottom: 1em;
}

.comment-form button {
    background-color: #DAD2D8;
    color: #000000;
    border: 0;
    border-radius: 1rem;
    padding: 1rem 2rem;
    position: absolute;
    right: 10%;
    font-weight: bold;
    font-size: 1em;
}

.comment-links {
    color: #5A1807;
}

.comment-error {
    color: red;
    font-weight: bold;
}

.edit-icon {
    float:right;
    color: #ffffff;
    margin-right: 1rem;
    margin-top: 5px;
}

.delete-icon {
    color: #FFFFFF;
    float: right;
    margin-right: 1rem;
    margin-top: 5px;
}

.edit-buttons button{
    margin-right: 10px;
}

.Comments h2 {
    color: #FFFFFF;
}